<div class="app-container">
  <div class="header">
    <h1>The Hanged with Angular</h1>
  </div>
  <div class="main">
    <div class="main-menu">
      <button class="button" (click)="start()">Start</button>
    </div>
    <div class="main-content">
      <div class="time">
        {{time}}
      </div>
      <div class="word" *ngIf="time > 10">
        <div *ngFor="let letter of wordLetters" [ngClass]="{'red': letter!=' '}" class="letter">
          <span>{{letter}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
