.app-container {
  width: 100vh;
  margin: 10px auto;
}
h1 {
  text-align: center;
}
.stats, .main-menu {
  margin-top: 10px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.main-menu, .main-content {
  text-align: center;
}
.button-start, .button-restart {
  grid-column-start: 2;
}
.characters {
  width: 400px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.character {
  margin-top: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid black;

}
.word {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.letter {
  width: 25px;
  height: 20px;
  margin-left: 10px;
  text-align: center;
}
.red {
  border: 1px solid rgba(0, 0, 0, 1);
}
.letter-input {
  text-align: center;
  margin-top: 10px;
}
.hanged-photos {
  width: 150px;
  height: 200px;
  margin: 20px auto;
}
.hanged {
  height: 200px;
}
.results {
  margin: 10px auto;
  width: 200px;
  border: 1px solid black;
}
.results p {
  text-align: left;
}

