<div class="app-container">
  <div class="header">
    <h1>The Hanged with Angular</h1>
  </div>
  <div class="main">
    <div class="main-menu">
      <div class="button-start">
        <button class="button" (click)="start()" [hidden]="gameStarted">Start</button>
      </div>
      <div class="button-restart">
        <button class="button" id="restart" (click)="restart()" [hidden]="!gameStarted">Restart</button>
      </div>
      <div class="button-clue">
        <button type="button" (click)="reduceClue()" [hidden]="!gameStarted" [disabled]="clueDisabled || life === 1">Clue</button>
      </div>
    </div>
    <div class="main-content">
      <div class="stats">
        <div class="stat-life"><span>Life:</span> {{life}}</div>
        <div class="stat-time"><span>Time:</span> {{time}}</div>
        <div class="statclue"> <!--<span>Clue:</span> {{clue}}--> </div>
      </div>
      <div class="characters" *ngIf="showWord">
        <button type="button" #newLetter *ngFor="let character of characters" (click)="compareLetter(newLetter)" [id]="character" class="character">
          <span>{{character}}</span>
        </button>
      </div>
      <div class="word" *ngIf="showWord">
        <div *ngFor="let letter of letters" class="letter">
          <span *ngIf="letter.show">{{letter.character}}</span>
        </div>
      </div>
      <div class="hanged-photos" *ngIf="showWord">
        <img [src]="hanged" class="hanged"/>
      </div>
      <div class="results" *ngIf="showScore">
        <h3>Score:</h3>
        <p>Won: {{score.won}}</p>
        <p>Lost - life: {{score.lost.life}}</p>
        <p>Lost - time: {{score.lost.timeout}}</p>
      </div>
    </div>
  </div>
</div>
